<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Mobile material Flat Responsive Widget Template :: w3layouts</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mobile material widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Custom Theme files-->
<link href= {{ url_for('static', filename = "css/style.css") }} rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href={{ url_for('static', filename = "css/jquery.mmenu.all.css") }} />
<!--//Custom Theme files-->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--js-->
<script src= {{ url_for('static', filename = "js/jquery-1.11.1.min.js") }}></script> 
<script type="text/javascript" src= {{ url_for('static', filename = "js/jquery.mmenu.min.all.js") }}></script>
<!-- //js -->
</head>
<body>
		<div class=" mm-wrapper"  id="page">
			<div class="push-menu ">
				<div class="banner">
					<div class="header-top">
						<ul>
							<li><span></span></li>
							<li><span class="chrg"></span> </li>
							<li>10:00 </li>
						</ul>
					</div>
					<div class="banner-text">
						<div class="menu">
							<a href="#menu"><img src= {{ url_for('static', filename = "images/menu-icon.png") }} alt=""/></a>
							<nav id="menu">
								<ul class="">
									<li class="menu-title">MENU</li>
									<li><a href="#"><span class="icons"> </span>Dashboard</a></li>
									<li><a href="#"><span class="icons icn2"> </span> Activity</a></li>
									<li><a href="#"><span class="icons icn3"> </span> Tasks</a></li>
									<li><a href="#"><span class="icons icn4"> </span> Gallery</a></li>
									<li><a href="#"><span class="icons icn5"> </span> Account settings</a></li>
								</ul> 	
							</nav>
								<script type="text/javascript">
									$(function() {
										$("#menu")
											.mmenu({
								extensions 	: [ "theme-dark", "effect-listitems-slide" ],
								iconPanels	: {
									add 		: true,
									visible		: 1
								},
								navbar		: {
									add 		: false
								},
								counters	: true
											}).on( 'click',
												'a[href^="#/"]',
												function() {
													alert( "Thank you for clicking, but that's a demo link." );
													return false;
												}
											);
									});
								</script>
							<!-- /script-for-menu -->
						</div>
						<div class="title">
							<div class="title-left">
								<img src= {{ url_for('static', filename = "images/img1.jpg") }} alt=""/>
							</div>
							<div class="title-right">
								<h2>Welcome, {{name}}!</h2>
								<h6>Let's figure out what you're eating today.</h6>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
				</div>
				<div class="clear"> </div>

			</div>
			<div class="profile-slider">
				<a href="#" class="skip">CHECK IN</a>
				<a href="#" class="skip">PICK LUNCH</a>
				<a href="#" class="skip">PREFERENCES</a>
				<a href="#" class="skip">RESET</a>
			</div>
		</div>
</body>
</html>
