{% extends "head.html" %}
{% block body %}
<body>
	<h1>Lunch-O-Matic</h1>
	<!-- main -->
	<div class="main">
		<!--signin-form-->
		<div class="signin-form profile">
			<h3>Add a new restaurant to the list.</span></h3>
			<img src= {{ url_for('static', filename = "images/img1.jpg") }} alt=""/>
			<div class="login-form">
				<form action="" method="post">
					<input type="text" placeholder="Yummy Restaurant" required="" name="restaurant" value="{{request.form.restaurant}}">
					<input type="submit" value="ADD RESTAURANT">
				</form>
			</div>
		</div>
		<!--//signin-form-->

	
	</div>
	<div class="copyright">
		<p> &copy; 2016 Mobile material . All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
{% endblock %}
