{% extends "head.html" %}
{% block body %}
<body>
	<h1>Lunch-O-Matic</h1>
	<!-- main -->
	<div class="main">
		<!--mobile-slider-->
		<div class=" profile">
			<div class="banner">
				<div class="header-top">
					<ul>
						<li><span class="chrg"></span> </li>
						<li>{{group}}</li>
					</ul>
				</div>
				<div class="banner-text">
					<section class="ac-container">
						<div class="menu">
							<input id="ac-5" name="accordion-1" type="checkbox" />
							<label for="ac-5"><img src= {{ url_for('static', filename = "images/menu-icon.png") }} alt=""/></label>
							<article class="ac-medium">
								<ul class="nav">
									<li><a href="{{ url_for('current_weights')}}">Change Preferences</a></li>
									<li><a href="{{ url_for('index')}}">Home</a></li>
								</ul> 
							</article>
						</div>
					</section>
					<div class="title">
						<div class="title-left">
							<img src= {{ url_for('static', filename = "images/img1.jpg") }} alt=""/>
						</div>
						<div class="title-right">
							<h2>Need details, {{name}}?</h2>
							<h6>Here are a few extra options you can use.</h6>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
			<div class="profile-slider">

				<a href="{{ url_for('add_restaurant')}}" class="skip">Add Restaurant</a>
				<a href="{{ url_for('del_restaurant')}}" class="skip">Remove Restaurant</a>
				<a href="#" id="pick_lunch" class="skip">Pick Lunch</a>
				<a href="{{ url_for('help_page')}}" class="skip">Help</a>
				<script>
                         $(document).ready(function(){
                             $("#pick_lunch").click(function(){
                                 $.getJSON($SCRIPT_ROOT + '/pick_lunch', function(data){
                                     alert(data.result);
                                 });
                             });
                         });
				</script>
			</div>
		</div>
		<!--//mobile-slider-->
	</div>
	<div class="copyright">
		<p> &copy; 2016 Lunch-O-Matic. All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
{% endblock %}
