{% extends "head.html" %}
{% block body %}
<body>
	<h1>Lunch-O-Matic</h1>
	<!-- main -->
	<div class="main">
		<!--signin-form-->
		<div class="signin-form profile">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <h3>{{messages[0]}}</h3>
			  {% else %}
			    <h3>Hey, <span>{{name}}</span>.</h3>
			    <h3>Start your group.</h3>
			  {% endif %}
			{% endwith %}

			<img src= {{ url_for('static', filename = "images/img1.jpg") }} alt=""/>
			<div class="login-form">
				<form action="" method="post">
					<input type="text" placeholder="NewGroup123" required="" name="group" value="{{request.form.group}}">
					<input type="password" placeholder="* * * * * * * * * *" required="" name="password" value="{{request.form.password}}" >
					<input type="submit" value="CREATE NEW GROUP">
				</form>
			</div>
		</div>
		<!--//signin-form-->

	
	</div>
	<div class="copyright">
		<p> &copy; 2016 Mobile material . All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
{% endblock %}
