{% extends "head.html" %}
{% block body %}
<body>
	<h1>Lunch-O-Matic</h1>
	<!-- main -->
	<div class="main">
		<!--mobile-slider-->
		<div class=" profile">
			<div class="banner">
				<div class="header-top">
					<ul>
						<li><span class="chrg"></span> </li>
						<li></li>
					</ul>
				</div>
				<div class="banner-text">
					<section class="ac-container">
					</section>
					<div class="title">
						<div class="title-left">
							<img src= {{ url_for('static', filename = "images/img1.jpg") }} alt=""/>
						</div>
						<div class="title-right">
							{% with messages = get_flashed_messages() %}
							  {% if messages %}
							    	<h2>{{messages[0]}}</h2>
							  {% else %}
								<h2>Pick a group, {{name}}!</h2>
								<h6>You can join a group if you know the password.</h6>
								<h6>Otherwise, start your own group!</h6>
							  {% endif %}
							{% endwith %}
						</div>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
			<div class="profile-slider">
				<a href="{{ url_for('join_group')}}" id="join_group" class="skip">JOIN EXISTING GROUP</a>
				<a href="{{ url_for('new_group')}}" id="new_group" class="skip">CREATE NEW GROUP</a>
			</div>
		</div>
		<!--//mobile-slider-->
	</div>
	<div class="copyright">
		<p> &copy; 2016 Lunch-O-Matic. All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
{% endblock %}
