{% extends "head.html" %}
{% block body %}
<body>
	<h1>Lunch-O-Matic</h1>
	<!-- main -->
	<div class="main">
		<!--mobile-slider-->
		<div class=" profile">
			<div class="banner">
				<div class="header-top">
					<ul>
						<li><span class="chrg"></span> </li>
						<li>{{group}}</li>
					</ul>
				</div>

			</div>
			<div class="scroll">
                    {{table | safe}}
			</div>
			<div class="profile-slider">
				<a href="{{ url_for('more')}}" class="skip">Done</a>
			</div>
		</div>
		<!--//mobile-slider-->
	</div>
	<div class="copyright">
		<p> &copy; 2016 Lunch-O-Matic. All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
{% endblock %}
